/* styles.css */
.plugin-comment-label {
	padding-top: 5px;
}

.plugin-comment {
	padding-top: 5px;
	font-style: italic;
	width: 100%;
	margin-top: 5px;
	border: 1px solid var(--background-modifier-border);
	padding: 5px;
	font-style: italic;
}
