/* styles.css */

/* @settings
name: Plugins Annotations stylesheet
id: plugins-annotations-stylesheet
settings:
  -
  	id: plugin-comment-font-size
    title: Annotation Font Size
    description: The font size of the annotation text.
    type: variable-number
    min: 6
    max: 60
    format: px
  -
  	id: plugin-comment-color
    title: Annotations color
    description: The color of the personal annotations.
    type: variable-color
    format: hex
*/

/* Make sure the input field takes the full width of its parent */
.plugin-comment {
	width: 100%;
	box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
	color: var(--plugin-comment-color,var(--text-muted));
}

.plugin-comment-annotation.plugin-comment-placeholder {
	color: #CCCCCC; /* Standard placeholder color */
	font-style: italic;
}

.plugin-comment.plugin-comment-placeholder {
	display: none;
}

/* Show comment container when hovering over the plugin container */
.setting-item:hover .plugin-comment.plugin-comment-placeholder {
	display: block;
}

/* Additional styles for consistency */
.plugin-comment-label {
	padding-top: 5px;
}

.plugin-comment-annotation {
	width: 100%;
}
